<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="homepage.css">
</head>
<body>
<div class="form-container">
    <img class="image-left" src="gif.gif" alt="Image 1">
    <h1><strong>That's a Wrap</strong></h1>
    <form>
        <div>
            <input type="text" id="username" placeholder="Username/Email">
        </div>
        <div>
            <input type="password" id="password" placeholder="Password">
        </div>
        <div>
            <button type="submit">Login</button>
        </div>
        <div>
        {% if error %}
            <p>{{ error }}</p>
        {% endif %}
        </div>
        <img class="image-right" src="gif2.gif" alt="Image 2">
    </form>
</div>
</body>
</html>
